@import 'variables';
@import 'bootstrap-navbar';

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: $main-font;
  margin-bottom: $footer-height;
}

.about h4 {
  margin: 2em 0;
  text-align: center;
}
.about p {
  margin-left: 20%;
}

.home {
  text-align: center;
}

.image-container {
  width: 100%;
  max-width: 800px;
  margin: 4em auto;

  img {
    width: 100%;
  }
}
